assets/
.mixin.out/
backups/
coremods/
crash-reports/
journeymap/
local/
logs/
mods/
resourcepacks/
saves/
screenshots/
server-resource-packs/
texturepacks/
crafttweaker.log
icon.png
options.txt
servers.dat
usercache.json
usernamecache.json
