.mixin.out/
assets/
backups/
banned-ips.json
banned-players.json
coremods/
crafttweaker.log
crash-reports/
eula.txt
forge-1.12.2-14.23.5.2786-universal.jar
icon.png
journeymap/
libraries/
local/
logs/
minecraft_server.1.12.2.jar
mods/
ops.json
options.txt
resourcepacks/
saves/
screenshots/
server-resource-packs/
server.properties
servers.dat
texturepacks/
usercache.json
usernamecache.json
whitelist.json
world
